<div *ngIf="tableData && tableData.headerRow" class="card">
  <div class="card-header">
    <h4 class="card-title">Simple Table</h4>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead class="text-primary">
          <tr>
            <th *ngFor="let header of tableData.headerRow">{{ header }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of tableData.dataRows">
            <td *ngFor="let cell of row">{{ cell }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
